
/* footer section */
.footer-container{
    width: 100%;
    height: 200px;
    background: url("./../assets/footer-img.jpeg") no-repeat center/cover;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center
  }
  .footer-container::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background: rgba(0, 0, 0, 0.634);
    z-index: -1;
  }
  .footer-link{
    color: white;
    text-decoration: none;
    text-decoration-style: none;
  }
  ul{
    color: rgba(0, 0, 0, 0.5);
  }
  .footer-link .footer{
    text-decoration: none;
  }
 
  .footer-container .footer{
    display: flex;
    justify-content: center;
  }
  .footer-container .footer-center {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    text-decoration: none;
  }
  .footer-container .footer {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    padding: 30px;
  }
  .footer-container .footer-center{
    text-decoration: none;
  }
  .footer-container .footer.active{
    text-decoration: underline;
  }
  .footer-copy-right{
    color:white;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .footer{
    list-style: none;
  }
  
  
  
  